.steps{
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    position: relative;
    margin-bottom: 1.5rem;
}

.steps::after{
    content: "";
    width: 380px;
    border-bottom: 1px solid #ccc;
    position: absolute;
}

.step {
    text-align: center;
    background-color: #FFF;
    z-index: 1;
    width: 120px;
    padding: 0.5rem;
}

.step svg{
    font-size: 1.4rem;
    margin-bottom: .2rem;
}

.active {
    font-weight: bold;
}


.active > svg {
    fill: #16bd2c
}


